# Function

* pre defined
    * provided by commonly
* user defined
    * custome function created by you programmer
* common propertied:
    * retun
    * non-return
    * required parameters
    * optional parameters
    * default function
    * positional argument
    * key value parameters
    * pass unltimated optional argument
    * pass unltimated key value argument
'''
def custom_name(parameter1,parameter2...):
    statement1
    statement2
    statemnet3
 
function_name() # Calling
'''

Note:

Function Declearaton = def custom_name(parameter1,parameter2...):
Function body
Function calling

In [ ]:
Reserved keywords

In [1]:
import pandas as pd
df = pd.read_html("https://www.w3schools.com/python/python_ref_keywords.asp")
df

[     Keyword                                        Description
 0        and                                 A logical operator
 1         as                                 To create an alias
 2     assert                                      For debugging
 3      break                             To break out of a loop
 4      class                                  To define a class
 5   continue        To continue to the next iteration of a loop
 6        def                               To define a function
 7        del                                To delete an object
 8       elif    Used in conditional statements, same as else if
 9       else                     Used in conditional statements
 10    except  Used with exceptions, what to do when an excep...
 11     False     Boolean value, result of comparison operations
 12   finally  Used with exceptions, a block of code that wil...
 13       for                               To create a for loop
 14      from               To import specific parts of a module
 15    global                       To declare a global variable
 16        if                    To make a conditional statement
 17    import                                 To import a module
 18        in  To check if a value is present in a list, tupl...
 19        is                 To test if two variables are equal
 20    lambda                    To create an anonymous function
 21      None                            Represents a null value
 22  nonlocal                    To declare a non-local variable
 23       not                                 A logical operator
 24        or                                 A logical operator
 25      pass  A null statement, a statement that will do not...
 26     raise                              To raise an exception
 27    return              To exit a function and return a value
 28      True     Boolean value, result of comparison operations
 29       try                   To make a try...except statement
 30     while                             To create a while loop
 31      with                Used to simplify exception handling
 32     yield             To end a function, returns a generator]

In [1]:
def introduction(): # signature/function declearaton
    print("NED UNIVERSITY")
    print("PGD Data Science Programe")
    print("Batch-5")
    print("Saturdau and Sunday clases")

In [2]:
introduction()

NED UNIVERSITY
PGD Data Science Programe
Batch-5
Saturdau and Sunday clases

In [3]:
introduction()

NED UNIVERSITY
PGD Data Science Programe
Batch-5
Saturdau and Sunday clases

# Return Function

In [5]:
def introduction(): # signature/function declearaton
    print("NED UNIVERSITY")
    print("PGD Data Science Programe")
    print("Batch-5")
    print("Saturdau and Sunday clases")
    
    return "Pakistan Zinda Bad"

In [8]:
abc = introduction()
print(abc)

NED UNIVERSITY
PGD Data Science Programe
Batch-5
Saturdau and Sunday clases
Pakistan Zinda Bad

In [9]:
print(abc)

Pakistan Zinda Bad

In [10]:
def introduction(): # signature/function declearaton
     
    return "Pakistan Zinda Bad", 12345,"Salaam Pakistan"

abc= introduction() # function calling

In [11]:
print(abc)

('Pakistan Zinda Bad', 12345, 'Salaam Pakistan')

# Required Parameters

In [15]:
def add_two_numbers(num1,num2):
    print(f"number1 {num1} and number2 {num2}")
    return num1 + num2

print(add_two_numbers(3,5))
print(add_two_numbers(9,9))

number1 3 and number2 5
8
number1 9 and number2 9
18

# Key Word Arguments

In [17]:
def add_two_numbers(num1,num2):
    print(f"number1 {num1} and number2 {num2}")
    return num1 + num2

print(add_two_numbers(num2=3,num1=5))
print(add_two_numbers(num1=8,num2=9))

number1 5 and number2 3
8
number1 8 and number2 9
17

In [11]:
print(sum([1,2,3,0]))

6

In [17]:
def abc(x,y,z=0):
    return x+y+z

print(abc(2,2))

4

In [20]:
def abc(x=0,y=0,z=0):
    return x+y+z

print(abc(2,2))
print(abc(1,3,4)) # positional
print(abc(x=3, y=5, z=5))
print(abc())

4
8
13
0

In [4]:
l = ["a","b","c"]
     
print(l[0],l[1],l[2])
print(*l)

a b c
a b c

In [6]:
l = ("a","b","c")
     
print(l[0],l[1],l[2])
print(*l)

a b c
a b c

In [7]:
l = ["a","b","c"]
x,y,z = l[0],l[1],l[2]
print(x,y,z)

a b c

In [12]:
def abc(x=0,y=0,z=0):
    return x+y+z

d = {"x":5,
    "y":6,
    "z":9}

print(d['x'],d['y'],d['z'])
print(abc(d['x'],d['y'],d['z']))
print(*d)
print(abc(**d))

5 6 9
20
x y z
20

# unlimited argument function
positional based

In [16]:
def abc(*nums):
    return nums

print(abc(2,4,6,7,8,9,1))
print(1,2,3,4,5,6, sep="**")

(2, 4, 6, 7, 8, 9, 1)
1**2**3**4**5**6

In [18]:
def my_sum(*nums):
    
    total = 0
    
    for n in nums:
        total += n
    
    return total

print(my_sum(2,4,6,7,8,9,1))

37

In [5]:
def abc(**data, ):
    return list(data.items()) 

abc(x=30,y=50, z=14, end=400, f=330)

[('x', 30), ('y', 50), ('z', 14), ('end', 400), ('f', 330)]

In [2]:
data = input("enter name, father name, course").split(',')
data

enter name, father name, courseshafaat, ahmed, ai

['shafaat', ' ahmed', ' ai']

In [6]:
data = input("enter name, father name, course").split(',')
data1 = {"name":data[0],
       "father name":data[1],
       "course":data[2]}

abc(**data1)

enter name, father name, courseshafaat, shafq, ffj

[('name', 'shafaat'), ('father name', ' shafq'), ('course', ' ffj')]

# Advance
* require
* positional unlimited argument
* key-wards unlimited argument

In [10]:
def advance(x,y, *nums, **data):
    print(x,y)
    print(*nums)
    print(data)

advance(6,3, "d", 1,3,5,6,7, e=54, c=4)

6 3
d 1 3 5 6 7
{'e': 54, 'c': 4}

In [11]:
l1 = [2,3,4,4,3]
l2 = [5,6,7,2,1]

advance(4,5, *l1,*l2)

4 5
2 3 4 4 3 5 6 7 2 1
{}

# Lambda Function
*one line function
*without name
*it didn't use before or it will be not use in future

syntaxt:
'''
def add_tow_numberw(x,y):
    return(x+y)
'''

lambda
'''
lambda x,y : x+y:

In [1]:
def add_tow_numberw(x,y):
    return(x+y)


add_tow_numberw(3,4)

7

In [2]:
abc = lambda x,y : x+y

print(abc(5,5))

10

In [4]:
data = [[1,'r','z'],
        [3,'p','x'],
        [2,'t','v']]
        
print(sorted(data))

[[1, 'r', 'z'], [2, 't', 'v'], [3, 'p', 'x']]

In [9]:
data = [[1,'r','z'],
        [3,'p','x'],
        [2,'t','v']]
        
print(sorted(data, key=lambda x:x[2]))

[[2, 't', 'v'], [3, 'p', 'x'], [1, 'r', 'z']]

# Generator function

In [14]:
def my_range(start,end,step=1):
    for i in range(start, end+1, step):
        yield i


a = my_range(1,11) 
print(next(a))
print(next(a))
print(next(a))

1
2
3

# Recursive function

In [15]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
result = factorial(5)
print(result)  # Output: 120 (5! = 5 * 4 * 3 * 2 * 1 = 120)

120